{% extends 'base.html' %}
{% block title %}Пост {{ post_title }}{% endblock %}
{% block content %}
  {% load thumbnail %}
  {% load user_filters %}
  <div class="row">
    <aside class="col-12 col-md-3 my-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Дата публикации: {{ pub_date|date:"d E Y" }}</li>
        <!-- если у поста есть группа -->
        {% if post.group %}
          <li class="list-group-item">
            Группа: <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы {{ post.group }}</a>
          </li>
        {% endif %}
        <li class="list-group-item">Автор: {{ author.get_full_name }}</li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора:  <span >{{ author_post_count }}</span>
        </li>
        <li class="list-group-item">
          <a href="{% url 'posts:profile' author %}">все посты пользователя</a>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-6 my-3">
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
      <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    <p>{{ post.text }}</p>
    {% if author == user %}
      <a class="btn btn-primary" href="{% url 'posts:post_edit' post.pk %}">Редактировать запись</a>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="card my-4">
      <h5 class="card-header">Добавить комментарий:</h5>
      <div class="card-body">
        <form method="post" action="{% url 'posts:add_comment' post.id %}">
          {% csrf_token %}
          <div class="form-group mb-2">{{ form_comment.text|addclass:"form-control" }}</div>
          <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
      </div>
    </div>
  {% endif %}
    {% for comment in comments %}
    <div class="media mb-4">
      <div class="media-body">
        <h5 class="mt-0">
          <a href="{% url 'posts:profile' comment.author.username %}">{{ comment.author.get_full_name }}</a></h5>
        <p>{{ comment.text }}</p>
      </div>
    </div>
  {% endfor %}
  </article>
  
{% endblock %}
